---
import Layout from '../layouts/Layout.astro';
---

<Layout title="O društvu | PGD Tolmin">
	<div class="px-4 py-10">
		<div class="max-w-3xl mx-auto">
			<h1 class="m-0 text-3xl md:text-4xl font-bold text-gray-900">
				O društvu
			</h1>
			<p class="mt-2 text-gray-700">TUKAJ NAPISI KRATEK UVOD</p>

			<section
				class="mt-6 rounded-xl border border-gray-200 bg-white/80 p-6 shadow-sm"
			>
				<p class="text-gray-900 leading-relaxed">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
					pellentesque quam nibh, at viverra diam tincidunt eu. Aliquam ut
					egestas nisi. Sed aliquet molestie dignissim. Mauris eget diam eget mi
					gravida commodo faucibus a velit. Suspendisse egestas elementum quam
					quis aliquam. In molestie urna et libero scelerisque pharetra. Sed et
					tortor sit amet sem maximus scelerisque. Etiam vulputate leo velit, at
					rhoncus ipsum lacinia ac. Quisque ut hendrerit diam.
					<br />
					Vestibulum eget tortor ac risus eleifend accumsan eu vitae sem. Nam auctor,
					felis vitae pulvinar bibendum, tellus ex venenatis magna, nec molestie
					dui metus quis nibh. Nam fringilla et nulla at cursus. Curabitur ultrices
					sed urna varius viverra. Morbi ac risus in sem finibus elementum. Morbi
					et massa sit amet mi varius fermentum. Vestibulum interdum lectus a dapibus
					laoreet. Quisque placerat, ex a fringilla bibendum, dolor libero commodo
					mauris, vitae ultrices ante quam a erat. Integer tempus sem eget elit congue,
					eget accumsan enim bibendum. In gravida finibus dolor, id imperdiet turpis
					laoreet nec.
					<br />
					Aliquam vitae dui at nisi semper congue. Aliquam auctor ullamcorper tristique.
					Nullam pretium tincidunt nunc. Morbi feugiat turpis in fringilla posuere.
					Proin sed arcu sit amet metus bibendum dapibus. Nulla rutrum, augue at
					consequat interdum, ipsum felis sodales ligula, in suscipit orci tortor
					ut tellus. Aliquam vel nunc tincidunt, egestas enim tristique, scelerisque
					massa. Fusce lacinia fermentum lorem in iaculis. Suspendisse quis erat
					interdum, blandit lectus sed, rutrum enim. Suspendisse mollis placerat
					sem nec dictum. Integer mauris elit, varius vel tincidunt quis, elementum
					maximus nisl. Nunc quis lectus sed ex iaculis vehicula non in augue. Nam
					vitae massa non nunc vestibulum eleifend in ac est.
					<br />
					Praesent sit amet volutpat turpis. Morbi semper orci nec hendrerit dignissim.
					Integer aliquam ultricies felis. Morbi mattis viverra sapien eu condimentum.
					Phasellus suscipit est ut nisl viverra, a blandit sapien accumsan. Nulla
					pulvinar ex eget dictum rutrum.
				</p>
			</section>
		</div>
	</div>
</Layout>
