---
import Layout from '../layouts/Layout.astro';
---

<Layout title="O društvu | PGD Tolmin">
	<div class="px-4 py-10">
		<div class="max-w-3xl mx-auto">
			<h1 class="m-0 text-3xl md:text-4xl font-bold text-gray-900">
				Fotogalerija
			</h1>
			<p class="mt-2 text-gray-700">Zaenkrat slikic še ni ;)</p>
		</div>
	</div>
</Layout>
