---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import sos112 from '../images/sos112.png';
---

<Layout title="Kontakt | PGD Tolmin">
	<div
		class="bg-red-600 text-white text-center py-3 text-base md:text-xl font-semibold tracking-wide relative z-10"
	>
		V NUJNIH PRIMERIH POKLIČITE 112
	</div>

	<div class="px-4 py-10">
		<div class="max-w-7xl mx-auto w-full space-y-8">
			<h1 class="m-0 text-3xl md:text-4xl font-bold text-gray-900 mb-2">
				Kontakt podatki
			</h1>

			<div class="grid md:grid-cols-2 gap-8">
				<section
					aria-label="Kontakt podatki"
					class="rounded-xl border border-gray-200 p-5 space-y-4 bg-gray-300"
				>
					<address class="not-italic text-gray-900">
						<div class="font-medium">Prostovoljno gasilsko društvo Tolmin</div>
						<div>Lavričeva ulica 1, Tolmin</div>
						<div>5220 Tolmin</div>
					</address>
					<p class="m-0 text-gray-900">
						Davčna številka: 19599056 <br />
						Matična številka: 5154251000 <br />
						<br />
						E‑pošta:
						<a
							class="text-black hover:text-red-600 font-medium break-all"
							href="mailto:pgdtolmin@gmail.com"
						>
							pgdtolmin@gmail.com
						</a>
					</p>
					<!-- SOS 112 Section -->

					<a
						href="https://www.sos112.si/info/klic-v-sili"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Image src={sos112} alt="SOS 112" />
					</a>
				</section>

				<!-- Google Maps embed -->
				<section aria-label="Kje smo" class="space-y-3">
					<h2 class="m-0 text-xl font-semibold text-gray-900">Kje smo</h2>
					<div
						class="rounded-xl overflow-hidden border border-gray-200 shadow-sm"
					>
						<div class="w-full aspect-square">
							<iframe
								class="w-full h-full border-0"
								loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"
								allowfullscreen
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6656.370899370995!2d13.73960082625043!3d46.181411867522804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477af7b16949cbd5%3A0xed37120e868719f6!2sProstovoljno%20gasilsko%20dru%C5%A1tvo%20Tolmin!5e1!3m2!1ssl!2ssi!4v1761409913201!5m2!1ssl!2ssi"
							></iframe>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</Layout>
