<footer class="fixed bottom-0 left-0 right-0 z-50 text-white text-center py-4">
	<p class="text-sm">
		© PGD Tolmin, 2025 | Spletno stran izdelal:
		<a
			href="https://domenkoder.com"
			class="font-semibold hover:text-blue-500"
			target="_blank"
		>
			Domen Koder
		</a>
	</p>
</footer>
